.slider {
  width: 80%;
  max-width: 800px;
  padding: 2rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100px;
  height: 100px;

  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  display: block;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-controls button {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-controls button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
