* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color:gray;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header div img {
  width: clamp(40px, 5vw, 140px);
  height: clamp(40px, 5vw, 140px);
}
header div h1 {
  color: #222;
  font-size: clamp(1rem, 5vw, 3rem);
  margin: 1rem;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: clamp(0.1rem, 2vw, 2rem);
  align-items: center;
  list-style: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.nav-link {
  padding: 0.5rem;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #d8d0d0c8;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down .drop-down-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop-down:hover .drop-down-content {
  display: flex;
  flex-flow: column;
  z-index: 99;
}
.drop-down-content ul {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  font-size: medium;
  align-items: self-start;
  flex-flow: column;
  padding: 1rem;
}
.drop-down-content ul li {
  border-bottom: 1px solid #333;
  padding: 0.3rem;
}
.drop-down-content ul li:hover {
  background: #333;
  color: whitesmoke;
  border-radius: 5px;
  padding: 0.3rem;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  color: #222;
}
.mobile-nav {
  display: none;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.mobile-nav-container {
  display: flex;
  flex-direction: column;
}
.mobile-nav-container a {
  border-bottom: 1px solid #ccc;
}
.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1px;
  background-color: white;
}
.mobile-nav h1 {
  font-size: 3rem;
}
.accordion-button {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: background-color 0.4s ease;
}

.accordion-content {
  display: none;
  flex-direction: column;
  padding: 10px;
}


section{
    margin-bottom:2%;
    margin-top: 2%;
    background-color: aliceblue;
    align-items:center;
    padding:5%;

}
section h1{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  color:rgb(18, 52, 82);

}

.container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color:blanchedalmond;
    display:inline-block;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
  }

  .center:hover{
    font-size:70px;
    display: inline;
  }
  
  img { 
    height: 600px;
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
  }
  .column{
    column-count: 2;
    font-size:large;
    padding-left: 20%;
    height: auto;
  }
  section h2{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    color:rgb(18, 52, 82);
  }
    .courses{
      text-align: center;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 2px 2px 4px #000000;
      color:rgb(18, 52, 82);
      padding: 5%;

    }
   

  .text{
    display:flex;
    column-count: 2;
    padding-top:5%;
  }
  .text img{
    float:right;
    width: 300px;
    height: auto;
    padding-bottom:5%;
    padding-right: 5%;

  }
  .text p{
    background-color: #416894;
    border-radius: 5%;
    padding: 5%;
    font-size:20px;
  }

  #copy{
    padding-top: 1%;
    display:flex;
    justify-content: center;
  }

.main-heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* WHY CONTAINER */
.why-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 5%;;
  padding-top: 5%;
}

.why{
  padding: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    color:rgb(18, 52, 82);
}

.content{
  display: flex;
  justify-content: end;
  background-color:gray;
  padding: 3%;
  border-radius: 20px; /* Adjust value for more or less rounding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: larger;
  padding-bottom: 5% !important;
  
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 5%;;
  background-color: gray;
  padding-top: 5%;
}

/* Card styles */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 60%;
}

.card-content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
} 

.card-title {
  font-size: 1.5em;
  margin: 0 0 8px 0;
}

.card-list {
  text-align: left;
  padding: 0;
  margin: 0 0 16px 0;
  list-style-type: disc;
  list-style-position: inside;
}

.card-list li {
  margin-bottom: 8px;
  list-style: none;
  color: #007bff;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9em;
}

.card-button:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.extra-heading {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #1a93f5;
  margin-left: 4rem;
}

.extra-paragraph {
  color: green;
  font-size: 1em;
  margin-bottom: 15px;
}

.testimonial{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 5%;;
  background-color: gray;
  padding-top: 5%;
}

/* Responsive styles */
@media (max-width: 600px) {
  .card {
      width: calc(50% - 20px);
  }
}

/*footer*/
  footer{
    background-color: white;
    height:20%;
    padding-top:5%;
    padding-bottom: 2%;
}
footer p{
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      display: none;
    }
  
    .container {
      display: inline-block;
    }
  }

