/* initial css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  /* max-width: 100vw; */
}
/* a {
  text-decoration: none;

} */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /*  overflow-x: hidden; */
  /* background: #333; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header div img {
  width: clamp(40px, 5vw, 140px);
  height: clamp(40px, 5vw, 140px);
}
header div h1 {
  color: #222;
  font-size: clamp(1rem, 5vw, 3rem);
  margin: 1rem;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #333; */
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: clamp(0.1rem, 2vw, 2rem);
  align-items: center;
  list-style: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.nav-link {
  padding: 0.5rem;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #d8d0d0c8;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down .drop-down-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop-down:hover .drop-down-content {
  display: flex;
  flex-flow: column;
  z-index: 99;
}
.drop-down-content ul {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  font-size: medium;
  /* justify-items: left; */
  align-items: self-start;
  flex-flow: column;
  padding: 1rem;
}
.drop-down-content ul li {
  border-bottom: 1px solid #333;
  padding: 0.3rem;
}
.drop-down-content ul li:hover {
  background: #333;
  color: whitesmoke;
  border-radius: 5px;
  padding: 0.3rem;
}
/* .list-content {
  display: flex;
  flex-flow: column;
} */

/* mobile navbar */

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  color: #222;
}
.mobile-nav {
  display: none;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.mobile-nav-container {
  display: flex;
  flex-direction: column;
}
.mobile-nav-container a {
  border-bottom: 1px solid #ccc;
}

.mobile-nav h1 {
  font-size: 3rem;
}

.mobile-nav-container #accordionFlushExample {
  border-bottom: 1px solid #ccc;
  overflow-x: hidden;
  width: 80vw;
}
.accordion-item {
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
.accordion-button {
  background-color: #fff;
  color: #222;
  font-size: 3rem;
  font-weight: 500;
}

/* Main */

main {
  flex-grow: 1;
  /*  background: #222; */
  /* background-color: rgba(24, 24, 169, 0.402); */
}

.banner {
  background-image: url("/images/background.jpeg"); /* Ensure the file path is correct */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: calc(
    100vh - 100px
  ); /* Replace 100px with the actual height of your header */
}

/* INTRODUCTION */

.introduction {
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  /* margin: 0 2rem; */
  justify-content: center;
}
.introduction .introduction-container {
  display: flex;
  /* padding: 2rem; */
  border-radius: 10px;
  align-items: center;
  color: #333;
  justify-content: center;
  flex-flow: column;
  /*  background-color: rgba(0, 0, 255, 0.55); */
  box-shadow: 0 0 2 rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.introduction-container {
  font-size: clamp(1rem, 3vw, 2rem);
  padding: 2rem;
  background-color: rgba(71, 58, 41, 0.114);
}

#read-more {
  display: none;
}
#button-text {
  padding: 1rem 2rem;
}

#button-text:hover {
  background-color: #333;
  color: whitesmoke;
  border-radius: 5px;
}

/* Features */

.slider {
  flex-direction: column;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  width: 50vw;
  height: 50vh;
  /* padding: 2rem 2rem; */
  border-radius: 10px;
  background-color: rgba(194, 181, 163, 0.477);
}

.slide {
  /* padding: 2rem; */
  border-radius: 10px;
  width: 60vw;
  height: 60vh;
}
.slide img {
  width: 60vw;
  height: 60vh;
  /* height: 50vh; */
  border-radius: 10px;
}
.image-features {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#message-from-principal {
  margin-top: 3rem;
}
#message-container {
  background-color: rgba(19, 19, 88, 0.584);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 3rem;
  color: whitesmoke;
}

#message-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.principal-words {
  font-size: clamp(1rem, 5vw, 2rem);
}

/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  /* margin-top: 3rem; */
}

.footer p {
  font-size: 1rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .slider {
    padding: 2rem 0rem;
  }
  .slider img {
    width: 80vw;
    height: 40vh;
    /* height: 100%; */
  }
  .slide {
    width: 80vw;
    height: 40vh;
  }

  .container {
    display: inline-block;
  }
}
